<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Return Books - Worblehat Bookmanager</title>
</head>
<body>
<h1>Return Books</h1>

<form th:object="${returnAllBooksFormData}" method="POST">
  Email Address:<input id="emailAddress" type="text" th:field="*{emailAddress}"/>
  <span id="email.error" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
  <br/>
  ISBN:<input id="isbn" type="text" th:field="*{isbn}"/>
  <br/>
  <input type="submit" id="returnAllBooks" value="Return Books"/>

</form>

<div th:replace="fragments/footer :: subpage-footer">Footer</div>
</body>
</html>
